[submodule "scummvm-core"]
	path = scummvm-core
	# Fork of libretro/scummvm carrying one local commit (WebMIDI plugin
	# exclusion, see docs/GOTCHAS.md) that upstream doesn't have. The
	# actual checked-out commit is whatever's recorded in this repo's
	# tree for this path -- this URL just needs to be somewhere that
	# commit is actually fetchable from, which upstream is not.
	url = https://github.com/TRusselo/scummvm.git
	branch = emulatorjs-wasm-fixes
[submodule "retroarch"]
	path = retroarch
	# Fork of EmulatorJS/RetroArch carrying one local commit (fixes
	# save_state_info() returning a dangling stack pointer, see
	# docs/GOTCHAS.md) that upstream doesn't have. As with scummvm-core
	# above, this URL just needs to be somewhere that commit is fetchable
	# from.
	url = https://github.com/TRusselo/RetroArch.git
	branch = emulatorjs-wasm-fixes
